{{ define "main" }}
  <section>
    <div class="row">
      <div class="col-md-9 story-body mx-auto">
        <h2>{{ .Title }}</h2>
        <small>
          {{ with .Date }}
            {{ $dateMachine := . | time.Format "2006-01-02T15:04:05-07:00" }}
            {{ $dateHuman := . | time.Format ":date_long" }}
            <time datetime="{{ $dateMachine }}" class="text-muted">{{ $dateHuman }}</time>
          {{ end }} | Written by Marek Dlugos | <a href="{{ .RelPermalink }}/#newsletter">Subscribe to my newsletter</a>
        </small>
        <article class="mb-4">
          {{ $toc := .TableOfContents }}
          {{ if and (gt (len $toc) 0) (gt (strings.Count $toc "<li>") 1) }}
            <div class="toc-container d-none d-lg-block">
              <h5>Table of Contents</h5>
              {{ $toc }}
            </div>
          {{ end }}          

          {{ .Content }}
        </article>
        
        <!-- Newsletter -->
        <script async data-uid="efe0aea53b" src="https://dedicated-author-2458.kit.com/efe0aea53b/index.js"></script>
      </div>
    </div>
  </section>

{{ end }}