{
  "plugins": ["prettier-plugin-go-template", "prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./themes/marek-ds/assets/css/main.css",
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "go-template"
      }
    }
  ]
}
