@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital@0;1&display=swap');
@import "styles";
@import "node_modules/bootstrap/scss/bootstrap";

small {
  @include font-size($font-size-base*0.7); 
}

section {
  margin-bottom: $spacer*1.6;
}

h1 {
  margin: 0;
  line-height: 3rem;
}

h2 {
  @include font-size($font-size-base * 3.6);
  font-weight: normal;
}

h3 {
  @include font-size($font-size-base * 1.6);
  margin-bottom: 0;
}

h4 {
  @include font-size($font-size-base * 1.4);
  margin-bottom: 0;
}

h5 {
  @include font-size($font-size-base * 1.2);
  font-weight: normal;
  margin-bottom: 0rem;
}

.display-6 {
  line-height: 1.5;

  strong {
    font-weight: 500;
  }
}

.announcement {
  border: 1px solid #d7d7d7;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-bottom: 2rem;
  border-radius: .25rem;

  p {
    color: #555;
    margin-bottom: 0;
    @include font-size($font-size-base * 0.8);
  }
}

.nav-item {
  font-weight: 500;
  @include font-size($font-size-base*0.8);
}

.nav-link {
  color: #333;
}

.nav-link.active {
  text-decoration: underline;
}

.project {
  margin-top: 4rem;

  p {
    margin-top: 1rem;
  }
}

.story-body {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;

  p {
    margin-top: 2rem;
    line-height: 1.8;
  }

  h3 {
    @include font-size($font-size-base * 2);
    margin-top: 6rem;
  }

  h4 {
    @include font-size($font-size-base * 1.6);
    margin-top: 4rem;
  }

  ul li {
    line-height: 1.8;
  }
}

.progress-container {
  width: 100%;
  height: 8px;
  background: $light;
}

.progress-bar {
  height: 8px;
  background: $blue;
  width: 0%;
}

.grayscale {
  filter: grayscale(1);
}

.navbar {
  backdrop-filter: blur(3px);
}

/* Newsletter */
.formkit-disclaimer p {
  margin-bottom: 0;
  margin-top: 0;
}

.formkit-submit {
  margin-top: 0 !important;
}

/* Floating TOC styling */
.toc-container {
  position: fixed;
  top: 500px;
  left: 20px;
  width: 250px;
  max-height: 80vh;
  overflow-y: auto;
  background-color: #f8f9fa; /* Bootstrap light background */
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: .25rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Ensure TOC hides on mobile and tablet sizes */
@media (max-width: 991.98px) {
  .toc-container {
    display: none;
  }
}
