<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{{.Title}}</title>

  <meta name="description" content="{{ .Description }}">
  <meta name="keywords" content="{{ delimit .Keywords " " }}">
  <meta name="subject" content="Marek Dlugos Personal Website">
  <meta name="rating" content="General">

  <base href="{{ .Site.BaseURL }}">
  <link rel="canonical" href="{{ .Permalink }}">
  <meta name="robots" content="index,follow">

  {{ $options := (dict "targetPath" "css/style.css" "outputStyle" "compressed") }}

  {{ $style := resources.Get "sass/main.scss" | toCSS $options | minify }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" media="screen">

  <link rel="icon" href="favicon.png" type="image/png">
  <link rel="author" href="humans.txt">
  <link rel="me" href="https://www.facebook.com/marek.dlugos/" type="text/html">
  <link rel="me" href="mailto:hi@marekdlugos.com">

  <!-- Calendly badge widget begin -->
  <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
  <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
  <script
    type="text/javascript">window.onload = function () { Calendly.initBadgeWidget({ url: 'https://calendly.com/meet-marek/opportunity-to-work-together-ahead-of-us', text: 'Schedule time with me', color: '#0069ff', textColor: '#ffffff', branding: undefined }); }</script>
  <!-- Calendly badge widget end -->

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-36B0M4RPHF"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-36B0M4RPHF');
  </script>
  
  <script async src="https://tag.clearbitscripts.com/v1/pk_4494011d9a7d418f46e138cdcbff45fa/tags.js"
    referrerpolicy="strict-origin-when-cross-origin"></script>

    <script>
      window.onscroll = function() {myFunction()};

      function myFunction() {
        var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
        var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
        var scrolled = (winScroll / height) * 100;
        document.getElementById("myBar").style.width = scrolled + "%";
      }
    </script>
</head>