<header class="fixed-top">

  <nav class="navbar navbar-expand-sm navbar-light bg-white" style="--bs-bg-opacity: .95;" aria-label="Main Navigation">
    <div class="container">
      <h1><a class="navbar-brand p-1" href="/">Marek Dlugos</a></h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
        aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav ms-auto mb-2 mb-sm-0">
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
          <li class="nav-item">
            <a class="nav-link mx-1 {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active {{end}}" aria-current="page" href="{{.URL}}">{{ .Name }}</a>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>

  </nav>

</header>