@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import "styles";
@import "node_modules/bootstrap/scss/bootstrap";

small {
  @include font-size($font-size-base*0.7); 
}

section {
  margin-bottom: $spacer*1.6;
}

h1 {
  margin: 0;
  line-height: 3rem;
}

h2 {
  @include font-size($font-size-base * 3.6);
  font-weight: normal;
  margin-bottom: $spacer;
}

h3, h4 {
  @include font-size($font-size-base * 1.6);
  margin-bottom: 0;
}

h5 {
  @include font-size($font-size-base * 1.2);
  font-weight: normal;
  margin-bottom: 0rem;
}

.nav-item {
  font-weight: 500;
  @include font-size($font-size-base*0.8);
}

.project {
  margin-top: 4rem;

  p {
    margin-top: 1rem;
  }
}