<section>
  <div class="row">
    <div class="col-md-7">
      <small>Made in 🇨🇭 by Marek Dlugos</small>
    </div>
    <div class="col-md-5">
      <div class="row">
        <div class="col-xs">
          <small><a href="https://www.linkedin.com/in/marekdlugos/">LinkedIn</a></small>
        </div>
        <div class="col-xs">
          <small><a href="https://www.facebook.com/marek.dlugos">Facebook</a></small>
        </div>
        <div class="col-xs">
          <small><a href="https://www.instagram.com/marekdlugos/">Instagram</a></small>
        </div>
      </div>
    </div>
  </div>
</section>