
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  
  <title>{{.Title}}</title>
  
  <meta name="description" content="{{ .Description }}">
  <meta name="keywords" content="{{ delimit .Keywords " " }}">
  <meta name="subject" content="Marek Dlugos Personal Website">
  <meta name="rating" content="General">
  
  <base href="{{ .Site.BaseURL }}">
  <link rel="canonical" href="{{ .Permalink }}">
  <meta name="robots" content="index,follow">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  {{ $style := resources.Get "sass/main.scss" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">

  <link rel="icon" href="favicon.png" type="image/png">
  <link rel="author" href="humans.txt">
  <link rel="me" href="https://www.facebook.com/marek.dlugos/" type="text/html">
  <link rel="me" href="mailto:hi@marekdlugos.com">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-36B0M4RPHF"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-36B0M4RPHF');
  </script>
</head>