{{ define "main" }}
<div class="row mb-4 justify-content-md-around align-items-center">
  <div class="col-md-4 col-sm-10 order-1 order-md-2">
    <img src="marek-dlugos.webp" alt="Marek Dlugos" class="img-fluid">
  </div>
  <div class="col-md-6 col-sm-10">
    <div class="announcement">
      <p><a href="mailto:hi@marekdlugos.com">Hire me!</a> Slowly, I am looking for a new, interesting team to join.</p>
    </div>
    <h2 class="display-6">I drive <strong>product, retention, and revenue</strong> in B2B SaaS — by aligning design, engineering, and sales into <strong>one execution engine</strong>.</h2>
  </div>
</div>
{{ end }}