{{ define "main" }}

  <div class="row">
    <div class="alert alert-success px-1 py-0" role="alert">
      <small>LATEST: <a href="https://calendly.com/meet-marek/opportunity-to-work-together-ahead-of-us">Hire me!</a> Slowly, I am on a lookout for a new, interesting team to join.</small>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-md-4 col-xs-10 order-1 order-md-2 gy-2">
      <img src="marek-dlugos.jpg" alt="Marek Dlugos" class="img-fluid">
    </div>
    <div class="col-md-7 col-xs-10 gy-md-5">
      <h2 class="display-5">Helping companies to succeed. Background in revenue growth &amp; product development.</h2>
      <!-- <p>Sharing 
        life stories &amp; travels on <a href="https://www.facebook.com/marek.dlugos">Facebook</a>, 
        tech stuff on <a href="https://twitter.com/MarekDlugos">Twitter</a>, 
        photos of myself on <a href="https://www.instagram.com/marekdlugos/">Instagram</a>, 
        videos on <a href="https://www.youtube.com/c/MarekDlugosVideos/">YouTube</a>, 
        and writings on <a href="https://marekdlugos.medium.com/">Medium</a>. 
        A resume is available on <a href="https://www.linkedin.com/in/marekdlugos/">LinkedIn</a>, 
        a design portfolio on <a href="https://dribbble.com/MarekDlugos">Dribbble</a>, 
        and code portfolio on <a href="https://github.com/marekdlugos">Github</a>. How can I help you?
      </p> -->
    </div>
  </div>
{{ end }}